# Node specific things
node_modules

# Envs
.env
.env.development
.env.dev
.env.deve
.env.production
.env.test

# scripts
playground.js

# Files for other services
app.yaml
pm2config.json
service-account.json
.vscode
.git

# Logs folder
logs/


